html {
  height: 100%;
}

body {
  background: #fff;
  height: 100%;
}

a, a:hover{
  color: #000;
  text-decoration: none;
}

/* ==================================================
   Header
================================================== */
#menu {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  height: 3em;
  line-height: 3em;
  box-shadow: 0 0 0.15em 0 rgba(0,0,0,0.1);
  font-size: 18px;
}

#logoMenu{
  margin-top: 0;
  margin-left: 15px;
  cursor: pointer;
}

#menu nav {
  display: block;
  position: absolute;
  right: 1.5em;
  top: 0;
}

  #menu nav ul {
    margin: 0;
  }

    #menu nav ul li {
      display: inline-block;
      margin-left: 0.5em;
      font-size: 0.8em;
    }

      #menu nav ul li a {
        display: block;
        color: inherit;
        text-decoration: none;
        padding: 0 0.5em 0 0.5em;
        outline: 0;
      }

#toggle {
  display: none;
}


/* ==================================================
   Home
================================================== */
#home {
  background-color: black;
  color: #fff;
  text-align: center;
}

.home-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.home-wrap .home-content {
  width: 1160px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
}

.home-wrap .home-content h2 {
  font-size: 60px;
}

.home-wrap .home-content p {
  font-size: 20px;
  line-height: 40px;
}

.home-wrap .home-content button {
  background: #fff;
  color: #1a1a1a;
  padding: 15px 23px;
  border: 2px solid #ffffff;
}

/* ==================================================
   Benefits
================================================== */
#benefits {
  height: 100%;
  background-color: #f9f9f9;
  text-align: center;
  padding-top: 100px;
}

/* ==================================================
   About-us
================================================== */
#about-us {
  height: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding-top: 100px;
}

/* ==================================================
   Processes
================================================== */
#processes {
  height: 100%;
  background-color: #f9f9f9;
  text-align: center;
  padding-top: 100px;
}

/* ==================================================
   Projects
================================================== */
#projects {
  height: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding-top: 100px;
}

/* ==================================================
   Mentors
================================================== */
#mentors {
  height: 100%;
  background-color: #f9f9f9;
  text-align: center;
  padding-top: 100px;
}

/* ==================================================
   Services
================================================== */
#services {
  height: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding-top: 100px;
}

/* ==================================================
   Faq
================================================== */
#faq {
  height: 100%;
  background-color: #f9f9f9;
  text-align: center;
  padding-top: 100px;
}

/* ==================================================
   Contact
================================================== */
#contact {
  height: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding-top: 100px;
}

