html {
  /*height: 100%;*/
}

body {
  background: #fff;
  height: 100%;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

h2 {
  margin: 0px auto;
  padding: 10px 0px;
  margin-bottom: 20px;
}

a, a:hover{
  color: #000;
  text-decoration: none;
}

/* ==================================================
   Background
================================================== */
#background {
  background-image: url('../img/background.jpg');
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 480px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ==================================================
   Backgrounds Sections
================================================== */
#sections {
  background:#d2edf5;
  -webkit-transition:all 0.5s linear;
  -moz-transition:all 0.5s linear;
  -o-transition:all 0.5s linear;
  transition:all 0.5s linear;
}

body.about-us #sections {
  background: #CEEFE0;
}

body.processes #sections {
  background: #D1E7F2;
}

body.projects #sections {
  background: #F2F1DA;
}

body.services #sections {
  background: #D6D8E8;
}

body.mentors #sections {
  background: #D6D8E8;
}

body.benefits #sections {
  background: #D6D8E8;
}

body.faq #sections {
  background: #fff;
}

/* ==================================================
   Header
================================================== */
#menu {
  position: fixed;
  z-index: 10000;
  left: 5%;
  top: 3%;
  width: 90%;
  background: transparent;
  color:  #fff;
  height: 3.5em;
  line-height: 1.5em;
  font-size: 18px;
  font-weight: 600;
}

#logoMenu {
  margin-top: 0;
  margin-left: 15px;
  background-image: url('../img/logo-250x60.png');
  width: 250px;
  height: 60px;
  cursor: pointer;
}

#menu nav {
  margin-top: 1em;
  display: block;
  position: absolute;
  right: 1.5em;
  top: 0;
}

#menu nav ul {
  margin: 0;
}

#menu nav ul li {
  display: inline-block;
  margin-left: 0.5em;
  font-size: 0.8em;
}

#menu nav ul li a {
  display: block;
  color: inherit;
  border: 1px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  padding: 0 0.5em 0 0.5em;
  outline: 0;
}

#menu nav ul li a:hover{
  color: #F8B001;
}

#menu nav ul li a:active{
  background-color: #F8B001;
  color: #fff;
}

#toggle {
  display: none;
}


/* ==================================================
   Home
================================================== */
#home {
  color: #fff;
  width: 100%;
}

.home-content{
  padding-top: 200px;
  padding-bottom: 200px;
}

.home-content h1 {
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 2px;
}

.home-content .title-middle {
  position: absolute;
  right: 0;
  padding-right: 15px;
}

.home-content h1 strong{
  font-size: 36px;
}

.home-content .slogan {
  display: block;
  font-size: 18px;
  text-align: center;
}

.home-content .buttons {
  margin-top: 20px;
}

.buttons a{
  display: inline-block;
  text-align: center;
  color: #fff;
  background-color: transparent;
  min-width: 120px;
  padding: 8px 15px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin: 10px;
}

.buttons a:hover {
  background-color: #F8B001;
}


/* ==================================================
   About-us
================================================== */
#about-us {
  text-align: center;
  padding-top: 70px;
}

#about-us h2 {
  display: inline-block;
  color: #42705B;
  border-bottom: 1px solid #646464;
}

#about-us p {
  font-size: 18px;
  line-height: 1.8;
}

#about-us .directory {
  margin-top: 70px;
}

#about-us .dir-member {
  display: inline-block;
  float: none !important;
  vertical-align: top;
  text-align: center;
  margin-bottom: 20px;
}

#about-us .dir-member img{
  max-width: 150px;
  padding: 10px;
  margin: 0 auto;
  border: 2px solid #42705B;
  border-radius: 50%;
}

#about-us .dir-member h3{
  vertical-align: middle;
  font-size: 18px;
  line-height: 0.9;
  height: 38px;
  border-bottom: 2px solid #42705B;
}

#about-us .dir-member h4{
  margin-top: 5px;
  font-size: 14px;
}


/* Curve border
#about-us .border-top {
  background: url('../img/benefits/border-top-2.png') center top no-repeat transparent;
  width: 100%;
  height: 90px;
  position: absolute;
  margin-top: -90px;
  left: 0;
  z-index: 1;
}
*/

/* ==================================================
   Processes
================================================== */
#processes {
  height: 700px;
  color: #fff;
  text-align: center;
  padding-top: 70px;
}

#processes h2 {
  display: inline-block;
  color: #2F7DA3;
  border-bottom: 1px solid #646464;
}

/* ==================================================
   Projects
================================================== */
#projects {
  text-align: center;
  padding-top: 70px;
}

#projects h2 {
  display: inline-block;
  color: #B2AF3B;
  border-bottom: 1px solid #646464;
}

/* ==================================================
   Services
================================================== */
#services {
  height: 700px;
  color: #fff;
  text-align: center;
  padding-top: 70px;
}

#services h2 {
  display: inline-block;
  color: #6B7ACE;
  border-bottom: 1px solid #646464;
}

/* ==================================================
   Mentors
================================================== */
#mentors {
  text-align: center;
  padding-top: 70px;
}

#mentors h2 {
  display: inline-block;
  color: #6B7ACE;
  border-bottom: 1px solid #646464;
}

.mentor {
  margin-bottom: 25px;
}

.mentor .mentor-pic {
  border-radius: 50%;
  width: 174px;
  height: 174px;
  margin: auto;
  overflow: hidden;
  margin-bottom: 25px;
}

/* ==================================================
   Benefits
================================================== */
#benefits {
  height: 700px;
  color: #fff;
  text-align: center;
  padding-top: 70px;
}

#benefits h2 {
  display: inline-block;
  color: #6B7ACE;
  border-bottom: 1px solid #646464;
}

/* ==================================================
   Faq
================================================== */
#faq {
  height: 700px;
  text-align: center;
  padding-top: 70px;
}

#faq h2 {
  display: inline-block;
  color: #6B7ACE;
  border-bottom: 1px solid #646464;
}

/* ==================================================
   Contact
================================================== */
#contact {
  color: #fff;
  text-align: center;
  padding: 70px 0;
}

#contact-form div{
  height: 117px;
  padding: 2px;
}

#contact-form input {
  margin-bottom: 5px;
}

#contact-form textarea {
  height: 112px;
  resize: none;
}

#contact ul {
  padding-left: 0;
  list-style: none;
}

#contact ul li{
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.social-icons .fa {
  width: 50px;
  height: 50px;
  font-size: 1.8em;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  color: rgba(255, 255, 255, 0.8);
}
