/* ==================================================
   Basic Styles
================================================== */

body {
  background: #FFFFFF;
  color: #FFFFFF;
  height: 100%;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
}

a, a:hover{
  color: #000;
  text-decoration: none;
}

h1 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 2px;
  font-style: oblique;
}

h2 {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 30px;
  color: #FFFFFF;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 18px;
}

/* ==================================================
  Buttons
================================================== */

.btn-bio {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  min-width: 120px;
  padding: 4px 15px;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 16px;
  letter-spacing: 1px;
}

.btn-orange {
  background-color: #F8B001;
}

.btn-orange:hover, .btn-orange:focus {
  color: #FFFFFF;
  background-color: #F2C044;
}

.btn-blue {
  background-color: #0097AC;
}

.btn-blue:hover, .btn-blue:focus {
  color: #FFFFFF;
  background-color: #44B7C6;
}

.btn-grey {
  background-color: #323232
}

.btn-grey:hover, .btn-grey:focus {
  color: #FFFFFF;
  background-color: #4C4C4C;
}

/* ==================================================
  Background
================================================== */
#background {
  background-image: url('../img/background2.jpg');
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 480px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ==================================================
  Sections
================================================== */
#sections {
  background:#FFFFFF;
  -webkit-transition:all 0.5s linear;
  -moz-transition:all 0.5s linear;
  -o-transition:all 0.5s linear;
  transition:all 0.5s linear;
}

body.processes #sections {
  background: #FFFFFF;
}

body.services #sections {
  background: #0097AC;
}

body.testimonials #sections {
  background: #F8B001;
}

body.projects #sections {
  background: #FFFFFF;
}

body.mentors #sections {
  background: #0097AC;
}

body.about-us #sections {
  background: #F8B001;
}

body.faq #sections {
  background: #0097AC;
}

body.contact #sections {
  background: #0097AC;
}

#sections section{
  padding: 100px 0 100px;
  text-align: center;
}

/* ==================================================
   Header
================================================== */
.menu {
  position: fixed;
  z-index: 10000;
  left: 5%;
  top: 3%;
  width: 90%;
  background: transparent;
  height: 3.5em;
  line-height: 1.5em;
  font-size: 18px;
  font-weight: 600;
}

.logoMenu {
  display: none;
}

.menu nav {
  margin-top: 1em;
  display: block;
  position: absolute;
  right: 1.5em;
  top: 0;
}

.menu nav ul {
  margin: 0;
}

.menu nav ul li {
  display: inline-block;
  margin-left: 0.5em;
  font-size: 0.8em;
}

.menu nav ul li a {
  display: block;
  color: inherit;
  border: 1px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  padding: 0 0.5em 0 0.5em;
  outline: 0;
}

.menu nav ul li a:hover {
  color: #F8B001;
}

.menu nav ul li a:active {
  background-color: #F8B001;
  color: #FFFFFF;
}

.fixed-menu {
  left: 0;
  top: 0;
  width: 100%;
  background: #FFFFFF;
  color:  #F8B102;
  box-shadow: 0 0 0.15em 0 rgba(0,0,0,0.1);
}

.fixed-logoMenu {
  display: inline-block;
  margin: 7px 0 0 7px;
  background-image: url('../img/logo-color200x48.png');
  cursor: pointer;
  width: 200px;
  height: 48px;
}

.menu nav ul li a.option-selected {
  background-color: #F8B001;
  color: #FFFFFF;
}

#toggle {
  display: none;
}


/* ==================================================
   Home
================================================== */
#home {
  width: 100%;
}

.home-content{
  padding-top: 200px;
  padding-bottom: 120px;
}

#home-content {
  display: table;
}

#home-content .home-column {
  display: table-cell;
}

.home-content .home-logo{
  margin: 0 auto;
}

.home-content h1{
  max-width: 400px;
  margin: 20px auto 0;
}

.home-content .buttons {
  margin: 150px 0 0;
}

.home-content .buttons div{
  display: inline-block;
  padding: 20px 0 0;
}
/* ==================================================
   Processes
================================================== */
#processes h2 {
  color: #4C4C4C;
}

#processes .process {
  height: 630px;
  max-width: 500px;
  margin: 0 auto 30px;
  background-color: #FFFFFF;
  padding: 20px 10px 30px;
  border: 1px solid #0097AC;
  border-radius: 25px;
}

#processes h3 {
  color: #F8B001;
  padding-bottom: 10px;
}

#processes img {
  margin: 0 auto;
}

#processes ul {
  list-style: none;
  margin-top: 30px;
  padding: 0 30px;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0.4px;
}

#processes li {
  padding-bottom: 10px;
  padding: 0 0 20px 5px;
  color: #4C4C4C;
}

#processes li:before {
  margin-left: -13px;
  content: "• ";
  color: #F8B001;
}

/* ==================================================
   Services
================================================== */
#services .services .service {
  width: 270px;
  margin: 0 auto;
}

.services .service img {
  position: relative;
  top: 25px;
  z-index: 1;
}

.service-content {
  display: table-cell;
  position: relative;
  border-radius: 15px;
  background-color: #FFFFFF;
  color: #0097AC;
  overflow: hidden;
  height: 220px;
  width: 1%;
  padding: 10px;
  vertical-align: middle;
  border: 1px solid #0196AF;
}

.service-content h3{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
}

.service-content .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 15px;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 20px 10px 0;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

.service-content .mask h4 {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

.service-content .mask p {
  margin-top: 15px;
  font-size: 16px;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.service-content:hover .mask{
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

.service-content:hover h3 {
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  -o-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

.service-content:hover h4, .service-content:hover p {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

.services .call {
  float: right;
  margin-top: 166px;
  margin-right: 45px;
}

/* ==================================================
   About-us
================================================== */
#about-us p {
  text-align: left;
  line-height: 1.8;
}

#about-us .directory {
  text-align: center;
}

#about-us .dir-member {
  display: inline-block;
  float: none !important;
  vertical-align: top;
  text-align: center;
  margin-bottom: 20px;
}

#about-us .dir-member img{
  max-width: 100px;
  margin: 0 auto;
  border-radius: 50%;
}

#about-us .dir-member h3{
  height: 38px;
  margin-bottom: 0;
  vertical-align: middle;
  font-size: 16px;
  line-height: 1.1;
  border-bottom: 2px solid #42705B;
}

#about-us .dir-member h4{
  margin-top: 2px;
  font-size: 14px;
}

#about-us .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

#about-us .video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ==================================================
   Projects
================================================== */
#projects h2 {
  color: #4C4C4C;
}

#projects ul.filterOptions {
  text-align: center;
}

#projects ul.filterOptions li {
  border: 1px solid transparent;
  text-decoration: none;
}

#projects ul.filterOptions li a{
  text-decoration: none;
}

#projects ul.filterOptions li:hover {
  border: 1px solid #0196AF;
}

#projects ul.filterOptions li.active {
  border: 1px solid #0196AF;
  background-color: #0196AF;
}

#projects ul.filterOptions li.active a{
  color: #FFFFFF;
}

#projects .project {
  display: inline-block;
  float: none !important;
  padding: 0 3px 3px 0;
  width: 230px
}

#projects .project-content {
  margin: 3px;
  float: left;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 1px 1px 2px #e6e6e6;
  -moz-box-shadow: 1px 1px 2px #e6e6e6;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
}

#projects .project-content img {
   display: block;
   position: relative;
}

#projects .project-content h3 {
   text-align: center;
   position: relative;
   font-size: 16px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.4);
}

#projects .project-content .project-mask {
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}

#projects .project-content .project-mask ul {
  height:  118px;
  margin: 5px 0 5px 0;
}

#projects .project-content .project-mask li {
   font-size: 12px;
   position: relative;
   text-align: left;
   padding-left: 10px;
   padding-bottom: 3px;
}

#projects .project-content .project-mask .projectS-mask-info{
  text-align: right;
  padding-right: 15px;
}

#projects .project-content a.project-mask-info {
  margin-left: 10px;
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
}

#projects .project-content a.project-mask-info:hover {
   color: #F8B001;
}

#projects .call {
  margin-top: 15px;
}

#projects .call p{
  color: #0097AC;
}

/*------Transition-------*/

#projects .project-content .project-mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color: rgba(77,77,77, 0.9);
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}

#projects .project-content:hover .project-mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}

#projects .project-content img {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#projects .project-content:hover img {
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  -o-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
}

#projects .project-content h3 {
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}

#projects .project-content a.project-mask-info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}

#projects .project-content:hover a.project-mask-info {
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}

#projects .project-content:hover h3,
#projects .project-content:hover a.project-mask-info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}

/* ==================================================
   Testimonials
================================================== */
#testimonials h3 {
  text-align: left;
  font-weight: bold;
}

#testimonials .testimonial p{
  margin-right: 25px;
  margin-bottom: 25px;
  font-style: oblique;
  text-align: justify;
}

#testimonials .testimonial .testimonial-author {
  margin-top: 15px;
}

#testimonials .testimonial .testimonial-author .testimonial-pic {
  border-radius: 50%;
  width: 87px;
  height: 87px;
  overflow: hidden;
  margin-bottom: 25px;
  float: left;
}

#testimonials .testimonial .testimonial-author p {
  font-style: normal;
  padding: 35px 0 0 100px;
}

#testimonials .bx-wrapper {
  margin: 0 auto;

}

#testimonials .bx-wrapper .bx-pager{
  text-align: right;
  bottom: 30px;
  right: 50px;
  overflow: hidden;
}

#testimonials .bx-wrapper .bx-pager .bx-pager-item a{
  text-indent: 9999px;
  width: 15px;
  height: 15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

#testimonials .bx-controls .bx-controls-direction {
  display: none;
}

#testimonials .bx-wrapper .bx-viewport {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  left: -5px;
  background: transparent;
}

/* ==================================================
   Mentors
================================================== */
#mentors h4 {
  margin-bottom: 20px;
}

#mentors.mentor {
  margin-bottom: 25px;
}

#mentors .mentor .mentor-pic {
  border-radius: 50%;
  width: 174px;
  height: 174px;
  margin: auto;
  overflow: hidden;
  margin-bottom: 25px;
}

#mentors .mentor a {
  display: inline-block;
  font-size: 20px;
  color: #4D4D4D;
  background-color: #FFFFFF;
  padding:5px 10px;
  border-radius: 50%;
}

#mentors .mentor a:hover {
   color: #FFFFFF;
   background-color: #4D4D4D;
}

#mentors .bx-wrapper .bx-pager{
    bottom: -80px;
}

#mentors .bx-controls .bx-controls-direction {
  display: none;
}

#mentors .bx-wrapper .bx-viewport {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  left: -5px;
  background: transparent;
}

/* ==================================================
   Faq
================================================== */
#faq .questions {
  padding: 0 15px;
  text-align: center;
}

#faq .questions-list {
  list-style: none;
}

#faq .questions-list li{
  margin-bottom: 50px;
  background: transparent;
  border: none;
  box-shadow: none;
  -webkit-transition: all 0.1s linear 0s;
  -moz-transition: all 0.1s linear 0s;
  -ms-transition: all 0.1s linear 0s;
  -o-transition: all 0.1s linear 0s;
  transition: all 0.1s linear 0s;
}

#faq .questions-list .answer-list {
  list-style: none;
  padding: 0 30px;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0.4px;
}

#faq .questions-list .answer-list li {
  margin-bottom: 5px;
}

#faq .questions-list .answer-list li:before {
  content: "• ";
  color: #F8B001;
}

#faq .questions-list .accordionize {
  display: inline-block;
}

#faq .questions-list li a {
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 5px;
  font-size: 22px;
}

#faq .questions-list li p {
  text-align: justify;
  padding: 20px 20px 0;
}



/* ==================================================
   Contact
================================================== */
#contact {
  padding: 70px 0 50px;
}

#contact-form {
  margin-top: 80px;
}

#contact .contact-content {
  display: table;
}

#contact .contact-content .contact-column {
  display: table-cell;
  vertical-align: bottom;
  float: none !important;
}

#contact .contact-info{
  text-align: right;
}

.contact-form{
  text-align: center;
}

.contact-form a:hover {
  background-color: #4C4C4C;
  color: #FFFFFF;
}

.contact-form input {
  margin-bottom: 5px;
}

#contact-submit1, #contact-submit2 {
  font-size: 18px;
  font-weight: bold;
  padding: 8px 5px;
}

#contact .social-icons {
  padding-left: 0;
  list-style: none;
}

#contact ul li{
  display: inline-block;
}

.social-icons .fa {
  width: 50px;
  height: 50px;
  font-size: 1.8em;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.8);
}

/* ==================================================
   Copyright
================================================== */
.copyright {
  display: block;
  font-size: 14px;
}
