html {
  height: 100%;
}

body {
  background: #fff;
  height: 100%;
}

h2 {
  margin: 0px auto;
  padding: 20px 0px;
}

a, a:hover{
  color: #000;
  text-decoration: none;
}

/* ==================================================
   Background
================================================== */
#background {
  background-image: url('../img/background.jpg');
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 480px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ==================================================
   Header
================================================== */
#menu {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  background: #ECECEC;
  color:  #F8B102;
  height: 3em;
  line-height: 3em;
  box-shadow: 0 0 0.15em 0 rgba(0,0,0,0.1);
  font-size: 18px;
}

#logoMenu{
  margin-top: 0;
  margin-left: 15px;
  cursor: pointer;
}

#menu nav {
  display: block;
  position: absolute;
  right: 1.5em;
  top: 0;
}

  #menu nav ul {
    margin: 0;
  }

    #menu nav ul li {
      display: inline-block;
      margin-left: 0.5em;
      font-size: 0.8em;
    }

      #menu nav ul li a {
        display: block;
        color: inherit;
        text-decoration: none;
        padding: 0 0.5em 0 0.5em;
        outline: 0;
      }

#toggle {
  display: none;
}


/* ==================================================
   Home
================================================== */
#home {
  color: #fff;
  text-align: center;
  width: 100%;
  height: 600px;
}

.home-wrap {
  /*position: relative;*/
}

.home-content{
  position: absolute;
  top: 30%;
}

.home-wrap .home-content h2 {
  font-size: 60px;
}

.home-wrap .home-content p {
  font-size: 20px;
  line-height: 40px;
}

.home-content .buttons {
  margin-top: 20px;
}

.buttons button{
  background: #fff;
  color: #1a1a1a;
  padding: 15px 23px;
  border: 2px solid #ffffff;
  margin: 10px;
}

/* ==================================================
   About-us
================================================== */
#about-us {
  height: 700px;
  background-color: #fff;
  text-align: center;
  padding-top: 20px;
}

#about-us .border-top {
  background: url('../img/benefits/border-top-2.png') center top no-repeat transparent;
  width: 100%;
  height: 90px;
  position: absolute;
  margin-top: -90px;
  left: 0;
  z-index: 1;
}

/* ==================================================
   Processes
================================================== */
#processes {
  height: 700px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding-top: 20px;
}

/* ==================================================
   Projects
================================================== */
#projects {
  background-color: #fff;
  text-align: center;
  padding-top: 20px;
}



/* ==================================================
   Services
================================================== */
#services {
  height: 700px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding-top: 20px;
}

/* ==================================================
   Mentors
================================================== */
#mentors {
  background-color: #fff;
  text-align: center;
  padding-top: 20px;
}

.mentor {
  margin-bottom: 25px;
}

.mentor .mentor-pic {
  border-radius: 50%;
  width: 174px;
  height: 174px;
  margin: auto;
  overflow: hidden;
  margin-bottom: 25px;
}

/* ==================================================
   Benefits
================================================== */
#benefits {
  height: 700px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding-top: 20px;
}

/* ==================================================
   Faq
================================================== */
#faq {
  height: 700px;
  background-color: #f9f9f9;
  text-align: center;
  padding-top: 20px;
}

/* ==================================================
   Contact
================================================== */
#contact {
  color: #fff;
  text-align: center;
  padding: 50px 0;
}

#contact-form div{
  height: 117px;
  padding: 2px;
}

#contact-form input {
  margin-bottom: 5px;
}

#contact-form textarea {
  height: 112px;
  resize: none;
}

#contact ul {
  padding-left: 0;
  list-style: none;
}

#contact ul li{
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.social-icons .fa {
  width: 50px;
  height: 50px;
  font-size: 1.8em;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  color: rgba(255, 255, 255, 0.8);
}
