html {
  /*height: 100%;*/
}

body {
  background: #fff;
  height: 100%;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

h2 {
  margin: 0px auto;
  padding: 20px 0px;
}

a, a:hover{
  color: #000;
  text-decoration: none;
}

/* ==================================================
   Background
================================================== */
#background {
  background-image: url('../img/background.jpg');
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 480px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ==================================================
   Header
================================================== */
#menu {
  position: fixed;
  z-index: 10000;
  left: 5%;
  top: 3%;
  width: 90%;
  background: transparent;
  color:  #fff;
  height: 3.5em;
  line-height: 1.5em;
  font-size: 18px;
  font-weight: 600;
}

#logoMenu {
  margin-top: 0;
  margin-left: 15px;
  background-image: url('../img/logo-250x60.png');
  width: 250px;
  height: 60px;
  cursor: pointer;
}

#menu nav {
  margin-top: 1em;
  display: block;
  position: absolute;
  right: 1.5em;
  top: 0;
}

#menu nav ul {
  margin: 0;
}

#menu nav ul li {
  display: inline-block;
  margin-left: 0.5em;
  font-size: 0.8em;
}

#menu nav ul li a {
  display: block;
  color: inherit;
  border: 1px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  padding: 0 0.5em 0 0.5em;
  outline: 0;
}

#menu nav ul li a:hover{
  color: #F8B001;
}

#toggle {
  display: none;
}


/* ==================================================
   Home
================================================== */
#home {
  color: #fff;
  width: 100%;
}

.home-content{
  padding-top: 200px;
  padding-bottom: 200px;
}

.home-content h1 {
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 2px;
}

.home-content .title-middle {
  position: absolute;
  right: 0;
  padding-right: 15px;
}

.home-content h1 strong{
  font-size: 36px;
}

.home-content .slogan {
  display: block;
  font-size: 18px;
  text-align: center;
}

.home-content .buttons {
  margin-top: 20px;
}

.buttons button{
  color: #fff;
  background-color: #F8B001;
  min-width: 120px;
  padding: 5px 15px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin: 10px;
}

button.button-about-us {

}

button.button-contact {

}

/* ==================================================
   About-us
================================================== */
#about-us {
  height: 700px;
  background-color: #fff;
  text-align: center;
  padding-top: 20px;
}

#about-us .border-top {
  background: url('../img/benefits/border-top-2.png') center top no-repeat transparent;
  width: 100%;
  height: 90px;
  position: absolute;
  margin-top: -90px;
  left: 0;
  z-index: 1;
}

/* ==================================================
   Processes
================================================== */
#processes {
  height: 700px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding-top: 20px;
}

/* ==================================================
   Projects
================================================== */
#projects {
  background-color: #fff;
  text-align: center;
  padding-top: 20px;
}



/* ==================================================
   Services
================================================== */
#services {
  height: 700px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding-top: 20px;
}

/* ==================================================
   Mentors
================================================== */
#mentors {
  background-color: #fff;
  text-align: center;
  padding-top: 20px;
}

.mentor {
  margin-bottom: 25px;
}

.mentor .mentor-pic {
  border-radius: 50%;
  width: 174px;
  height: 174px;
  margin: auto;
  overflow: hidden;
  margin-bottom: 25px;
}

/* ==================================================
   Benefits
================================================== */
#benefits {
  height: 700px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding-top: 20px;
}

/* ==================================================
   Faq
================================================== */
#faq {
  height: 700px;
  background-color: #f9f9f9;
  text-align: center;
  padding-top: 20px;
}

/* ==================================================
   Contact
================================================== */
#contact {
  color: #fff;
  text-align: center;
  padding: 50px 0;
}

#contact-form div{
  height: 117px;
  padding: 2px;
}

#contact-form input {
  margin-bottom: 5px;
}

#contact-form textarea {
  height: 112px;
  resize: none;
}

#contact ul {
  padding-left: 0;
  list-style: none;
}

#contact ul li{
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.social-icons .fa {
  width: 50px;
  height: 50px;
  font-size: 1.8em;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  color: rgba(255, 255, 255, 0.8);
}
