@media only screen and (max-width: 768px){

/* ==================================================
   Header
================================================== */
  .menu nav {
    display: none;
    position: static;
    background:#fff;
  }

  .menu nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .menu nav ul li {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 0;
  }

  .menu nav ul li a {
    display: block;
    width: 100%;
    height: auto;
    border-top: 1px dashed #F8B001;
    border-spacing: inherit;
  }

  .menu nav ul li a:hover {
    background-color: #F8B001;
    color: #ECECEC;
  }

  #toggle {
    position: absolute;
    display: block;
    right: 1.5em;
    top: 1em;
    cursor: pointer;
  }

  #toggle:after {
    content: '\f0c9';
  }

  #toggle:hover {
    color: #2F3238;
  }

  /* ==================================================
   Home
================================================== */
  #home {
    color: #fff;
    width: 100%;
  }

  .home-content{
    top: 120px;
  }

  #home .home-content .home-column {
    display: block;
  }

  .home-content h1 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
  }

  .home-content h1 strong{
    font-size: 22px;
  }

    /* ==================================================
   Contact
================================================== */
  #contact .contact-content .contact-column {
    display: block;
  }

  #contact .contact-info{
    margin-top: 40px;
    text-align: center;
  }

}
