@media only screen and (max-width: 768px){

/* ==================================================
   Header
================================================== */
  #menu nav {
    display: none;
    position: static;
    background:#fff;
  }
    #menu nav ul {
      margin: 0;
      padding: 0;
      text-align: center;
    }

      #menu nav ul li {
        display: block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        margin: 0;
      }

        #menu nav ul li a {
          display: block;
          width: 100%;
          height: auto;
          border-top: 1px solid #2F3238;
          border-spacing: inherit;
        }

  #toggle {
    position: absolute;
    display: block;
    right: 1.5em;
    top: 1em;
    cursor: pointer;
  }

  #toggle:after {
    content: '\f0c9';
  }

  #toggle:hover {
    color: #2F3238;
  }

  /* ==================================================
   Home
================================================== */
  .home-content{
    top: 20%;
  }
  .home-wrap .home-content h2 {
    font-size: 50px;
  }

  .home-wrap .home-content p {
    font-size: 25px;
    line-height: 30px;
  }

  .buttons button{
    padding: 10px 23px;
    margin: 5px;
  }

}
