@media only screen and (max-width: 768px){

/* ==================================================
   Header
================================================== */
  #menu {
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    background: #ECECEC;
    color:  #F8B102;
    height: 3em;
    line-height: 3em;
    box-shadow: 0 0 0.15em 0 rgba(0,0,0,0.1);
    font-size: 18px;
    font-weight: 600;
  }
    #menu nav {
      display: none;
      position: static;
      background:#fff;
    }
      #menu nav ul {
        margin: 0;
        padding: 0;
        text-align: center;
      }

        #menu nav ul li {
          display: block;
          width: 100%;
          height: 40px;
          line-height: 40px;
          margin: 0;
        }

          #menu nav ul li a {
            display: block;
            width: 100%;
            height: auto;
            border-top: 1px solid #2F3238;
            border-spacing: inherit;
          }

  #toggle {
    position: absolute;
    display: block;
    right: 1.5em;
    top: 1em;
    cursor: pointer;
  }

  #toggle:after {
    content: '\f0c9';
  }

  #toggle:hover {
    color: #2F3238;
  }

  /* ==================================================
   Home
================================================== */
  #home {
    color: #fff;
    width: 100%;
  }

  .home-content{
    top: 120px;
  }

  .home-content h1 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
  }

  .home-content h1 strong{
    font-size: 22px;
  }

  .buttons button{
    padding: 10px 23px;
    margin: 5px;
  }

}
