@media (min-width: 992px) and (max-width: 1200px){
  /* ==================================================
   Processes
================================================== */
  #processes .process {
    height: 720px;
  }

}

@media (min-width: 768px) and (max-width: 992px){
  /* ==================================================
   Processes
================================================== */
  #processes .process {
    height: auto;
    margin: 0 auto 30px;
  }

}

@media only screen and (max-width: 768px){

/* ==================================================
   Header
================================================== */
  .menu nav {
    display: none;
    position: static;
    margin-top: 0;
    background:#fff;
  }

  .menu nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .menu nav ul li {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 0;
  }

  .menu nav ul li a {
    display: block;
    width: 100%;
    height: auto;
    border-top: 1px solid #F8B001;
    border-spacing: inherit;
  }

  .menu nav ul li a:hover {
    background-color: #F8B001;
    color: #ECECEC;
  }

  #toggle {
    position: absolute;
    display: block;
    right: 1.5em;
    top: 1em;
    cursor: pointer;
  }

  #toggle:after {
    content: '\f0c9';
  }

  #toggle:hover {
    color: #2F3238;
  }

  /* ==================================================
   Home
================================================== */
  #home {
    color: #fff;
    width: 100%;
  }

  .home-content{
    top: 120px;
  }

  #home .home-content .home-column {
    display: block;
  }

  .home-content .home-logo{
    max-width: 80%;
  }

  .home-content .buttons {
    margin: 80px 0 100px;
  }

  /* ==================================================
   Processes
================================================== */

  #processes .process {
    height: auto;
    margin: 0 auto 30px;
  }

    /* ==================================================
   Services
================================================== */

  .services .call {
    margin: 40px auto;
    float: none;
  }

  .services .call p {
    text-align: center;
  }

  .services .call a {
    float: none !important;
  }

/* ==================================================
   Contact
================================================== */
  #contact .contact-content .contact-column {
    display: block;
  }

  #contact .contact-info{
    margin-top: 50px;
    text-align: center;
  }

  #contact-form {
    margin-top: 40px;
  }

  /* ==================================================
   Copyright
================================================== */
  .copyright {
    display: block;
    font-size: 12px;
  }

/* ==================================================
   Testimonials
================================================== */
  #testimonials .bx-wrapper .bx-pager{
  bottom: -30px;
  overflow: hidden;
  }

}
